    <!-- Contact Section -->
    <section class="contact" id="contact">
        <div class="container">
            <h2 class="section-title" data-i18n="contact.title">Contact Us</h2>
            <div class="row">
                <div class="col-lg-6 mb-4">
                        <form class="contact-form"
                        action="https://formspree.io/f/mwpoqbkn"
                        method="POST">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="name" placeholder="Your Name" data-i18n-placeholder="contact.form.name" required>
                        </div>
                        <div class="mb-3">
                            <input type="email" class="form-control" name="email" placeholder="Your Email" data-i18n-placeholder="contact.form.email" required>
                        </div>
                        <div class="mb-3">
                            <input type="tel" class="form-control" name="phone" placeholder="Your Phone" data-i18n-placeholder="contact.form.phone" required>
                        </div>
                        <div class="mb-3">
                            <textarea class="form-control" name="message" rows="5" placeholder="Your Message" data-i18n-placeholder="contact.form.message" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" data-i18n="contact.form.submit">Send Message</button>
                    </form>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="contact-info">
                        <h3 class="section-subtitle" data-i18n="contact.info.title">Get in Touch</h3>
                        <ul class="list-unstyled">
                            <li>
                                <i class="fas fa-phone-alt contact-icon"></i>
                                <span data-i18n="contact.info.phone">+20 106 215 7623</span>
                            </li>
                            <li>
                                <i class="fas fa-envelope contact-icon"></i>
                                <a href="mailto:info@supremeforprinting.com">info@supremeforprinting.com</a>
                            </li>
                            <li>
                                <i class="fas fa-map-marker-alt contact-icon"></i>
                                <span data-i18n="contact.info.address"><a target="_blank" href="https://www.google.com/maps/place/%D9%85%D8%B7%D8%A8%D8%B9%D8%A9+%D8%B3%D9%88%D8%A8%D8%B1%D9%8A%D9%85+supreme+for+printing%D8%8C+%D9%A1%D9%A3+%D8%B4%D8%A7%D8%B1%D8%B9+%D8%A7%D8%A8%D8%B1%D8%A7%D9%87%D9%8A%D9%85+%D8%B9%D8%A8%D8%AF+%D8%A7%D9%84%D9%85%D8%AC%D9%8A%D8%AF%D8%8C+%D9%85%D8%B1%D9%83%D8%B2+%D8%A3%D9%88%D8%B3%D9%8A%D9%85%D8%8C+%D9%85%D8%AD%D8%A7%D9%81%D8%B8%D8%A9+%D8%A7%D9%84%D8%AC%D9%8A%D8%B2%D8%A9+3654721%E2%80%AD/data=!4m2!3m1!1s0x1458ffb738ba993f:0xc253d23ee747b23b?utm_source=mstt_1&entry=gps&coh=192189&g_ep=CAESBjI1LjQuMRgAINeCAyp1LDk0MjQyNTQ3LDk0MjIzMjk5LDk0MjE2NDEzLDk0MjEyNDk2LDk0MjA3Mzk0LDk0MjA3NTA2LDk0MjA4NTA2LDk0MjE3NTIzLDk0MjE4NjUzLDk0MjI5ODM5LDQ3MDg0MzkzLDk0MjEzMjAwLDk0MjEzMzExQgJFRw%3D%3D">giza, Egypt</a> </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
